.product{
    /* border:5px solid red; */
    display:flex;
    flex-direction:column;
    box-shadow: 0.75em 0.75em 1em;
    transition: 0.3s;
     width: 35%;
     height: 100%;
    border-radius: 5px;
}
.product > img{
    max-height:200px;
    width:100%;
    object-fit:contain;
    margin-left:15%;
    /* border:5px solid blue; */
    width:50%

}