.product {
    /* border:5px solid red; */
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0.75em 0.75em 1em;
    transition: 0.3s;
    min-width: 300px;
     width: 35%;
     height: inherit;
    border-radius: 5px;
    margin: 15px 25px;
}
.product > img{
    max-height:200px;
    object-fit:contain;
    margin: 20px auto;
    /* border:5px solid blue; */
    width:50%;
}

.productInfo {
    padding: 0px 10px;
}